<h2>Welcomre to Pizza Shop!</h2>
<div class="row">
<% @products.each do |product|%>
	<div class="col-md-3">
		<div>
			<%= product.title %>
		</div>

		<div>
			<img src="<%= product.path_to_image %>">
		</div>

		<div>
			<%= product.description %>			
		</div>
		
		<div>
			Size: <%= product.size %> cm
		</div>
		
		<div>
			Price: <%= product.price %> rub
		</div>
	</div>
<%end%>
</div>
<br>
<br>
<button class="btn btn-primary" onclick="some()">Click me!</button>